.articles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  padding-top: 100px;
  padding-bottom: 100px;
  background: -webkit-linear-gradient(
    to bottom,
    #ffffff,
    #c7c7c7,
    #ffffff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #ffffff,
    #c7c7c7,
    #ffffff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.image {
  width: 275px;
  height: 200px;
  margin-bottom: 70px;
}

.single-article {
  min-width: 300px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 25px;
  border-radius: 10px;
  box-shadow: 0 1px 4px 1px #8e7f7f;
  margin: 30px;
  background-color: rgb(255, 255, 255);
}

.title {
  margin-bottom: 20px;
}

.text-article {
  font-size: 0.7rem;
}
