* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.countries-container {
  background: -webkit-linear-gradient(
    to bottom,
    #ffffff,
    #3f413f,
    #ffffff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #ffffff,
    #3f413f,
    #ffffff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
