* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.countries-container {
  height: 200px;
  background: -webkit-linear-gradient(
    to bottom,
    #ffffff,
    #3f413f,
    #ffffff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #ffffff,
    #3f413f,
    #ffffff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.flag-country {
  margin-bottom: 25px;
}

.parent-ul {
  list-style-type: none;
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding: 30px 40px;

  margin-top: 100px;
  margin-left: 100px;
  border-radius: 10px;
  box-shadow: 0 1px 4px 1px #8e7f7f;
  background-color: #fff;
}

.parent-ul:hover {
  transform: scale(1.1);
  transition: ease all 0.5s;
  box-shadow: 0px 0px 7px 4px #441111;
}

.parent-ul > li {
  color: #424642;
}

span {
  font-size: 1.5rem;
  color: #1e212d;
}

.nested-ul {
  list-style-type: none;
  padding-bottom: 10px;
}

.nested-ul > li {
  padding-left: 20px;
  color: #424642;
  font-size: 0.8rem;
}
.language-borders {
  list-style-type: none;
  margin-left: 20px;
  font-size: 0.7rem;
}

.nested-ul > li > span {
  font-size: 1rem;
}

.currencie {
  list-style-type: none;
}
.language-borders-ul {
  display: flex;
}
