.input {
  width: 550px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 100px;
  font-size: 0.7rem;
  padding: 10px 0 2px 5px;
  color: black;
}

.container-input {
  width: 100%;
  background: #ffffff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #ffffff,
    #c7c7c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #ffffff,
    #c7c7c7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  justify-content: center;
}
