@import url('https://fonts.googleapis.com/css2?family=Antonio&family=Cinzel&family=Permanent+Marker&display=swap');

.icon {
  color: rgb(44, 42, 42);
  line-height: 20px;
  font-size: 1.5rem;
}

.icon:hover {
  color: #7f8a8a;
  text-decoration: none;
}

.flag-cart-cart {
  min-width: 700px;
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 10px 25px 5px;
  font-family: 'Antonio', sans-serif;
  box-shadow: 0 3px 0 0 #5f5d5d;
  padding-top: 30px;
  padding-bottom: 30px;
}

.flag-display-cart {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cart-info {
  font-family: 'Antonio', sans-serif;
}
